/* GENERAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f6f7fb;
    color: #333;
}

/* HEADER */
header{
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
}

header .logo{
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

header nav a:hover{
    color: #6c63ff;
}

/* HERO SECTION */
.hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#6c63ff, #3f3d56);
    color: white;
}

.hero h1{
    font-size: 48px;
}

.hero h1 span{
    color: #ffdd57;
}

.hero p{
    margin-top: 10px;
    font-size: 20px;
}

.btn{
    margin-top: 20px;
    background: #ffdd57;
    padding: 12px 28px;
    text-decoration: none;
    color: #333;
    border-radius: 6px;
    font-weight: bold;
}

/* ABOUT */
.about{
    padding: 70px 10%;
    text-align: center;
}

.about h2{
    font-size: 32px;
    margin-bottom: 20px;
}

/* SKILLS */
.skills{
    padding: 70px 10%;
    text-align: center;
}

.skill-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill{
    background: white;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* PROJECTS */
.projects{
    padding: 70px 10%;
    text-align: center;
}

.project-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.project-card h3{
    margin-bottom: 10px;
}

.btn.small{
    display:flex;
 
    padding: 8px 14px; 
    font-size: 14px;
}

/* CONTACT */
.contact{
    padding: 70px 10%;
    text-align: center;
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px;
    background: #3f3d56;
    color: white;
    margin-top: 40px;
}